# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173

# Server Port
PORT=3000

# Prisma
DATABASE_URL="postgresql://<username>:<password>@<hostname>:<port>/<database>"

# Google Gemini API (콤마로 구분하여 여러 키 등록)
GEMINI_API_KEYS=key1,key2,key3
