owner              = "team-cmc"
cost_center        = "bootcamp"

zone               = "KR-1"
vpc_name           = "os-emul"
vpc_cidr           = "10.0.0.0/20"
public_subnet_name = "os-emul-public-subnet"
public_subnet_cidr = "10.0.0.0/24"

ssh_access_cidrs   = ["YOUR_IP/32"]
public_access_cidrs = ["0.0.0.0/0"]

extra_public_inbound_rules = [
  {
    protocol    = "TCP"
    ip_block    = "YOUR_IP/32"
    port_range  = "3001"
    description = "grafana-admin"
  }
]

server_name                    = "cmc-dev"
server_description             = ""
server_image_name              = "ubuntu-24.04-base"
server_hypervisor_type         = "KVM"
server_spec_code               = "c2-g3a"
login_key_name                 = "web02"
server_init_script             = null
is_protect_server_termination  = false

observability_mode = "docker-compose"
