@import 'tailwindcss';

/* Custom styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #0a0a1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

#root {
  min-height: 100vh;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #2d2d3f;
  border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #ff6900;
  border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #ff8533;
}
